<div class="sobre_container">
    <h2>Sobre Mim</h2>
    <div class="border">
        <p>Estudante de Ciência da Computação, buscando primeiramente conhecimento dia após dia, entusiasta em novas tecnologias, tanto em aprender quanto em reproduzi-las. </p>
        <p>Conhecimentos sólidos em HTML, CSS e JavaScript e evoluindo casa dia mais no Angular
            E como futuro Full Stack já consolidei conhecimentos em Python, node.js, banco de dados e conhecimentos básicos em Java</p>
        <p>Me considero uma pessoa com grandes habilidades de aprendizado, podendo me adaptar a qualquer problema e conseguindo achar uma forma de resolve-la com eficiência.</p>
    </div>
</div>