section{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

svg{
    width: 298px;
}

@media (min-width: 1080px){
    section{
        flex-direction: row;
        justify-content: space-between;
    }

    svg{
        width: 350px;
    }
}
