section{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 80px;

    

    .container_main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;
        max-width: 60%;
    
        h1{
                background: linear-gradient(90deg, rgba(36,15,13,1) 0%, rgba(213,91,13,1) 57%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: inline-block;
                font-size: 40px;
                margin: 0;
        }
        
        span{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 16px;
            color: #ffffff;
        }

        p{
            color: #ffffff;
        }
    
    }
}

svg{
    width: 298px;
}

@media (min-width: 1080px){
    section{
        flex-direction: row;
        justify-content: space-between;
    

        .container_main{
            align-items: flex-start;
            
            h1{
                font-size: 56px;
                width: 250px;
            }
        
        }
       
    }

    svg{
        width: 350px;
    }


}
