section{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1080px){
    section{
        flex-direction: row;
        justify-content: space-between;
    }
}
