.btn{
    padding: 13px 20px;
    font-size: 16px;
    font-weight: 600;
    color: #DBFFFF;
    background: rgb(36,15,13);
    background: linear-gradient(90deg, rgba(36,15,13,1) 0%, rgba(213,91,13,1) 57%);
    border-radius: 10px;
    border: none;
}